.wrapper {

      display: flex;
      min-height: 100vh;
      min-width: 100vh;
      align-items: center;
      justify-content: center;
      flex-direction: column;

}

.Profile {
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
}

.banner{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;  
}

.Avatar { 
    position: absolute;
    bottom:-20px;
    left: 15%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 2;
}

.container {
    min-width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    padding-top: 12px;
    border-radius : 10px;   

}

.information{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hobby {
    margin-top: 20px;
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: end; 
    
}

.jurusan{
    display: flex;
}

.img {
    width: 100%;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}